<div class="container" style="padding-top: 50px;">
<h1>钱包地址
    <small>查看钱包地址信息</small>
</h1>

<div id="address-97785883" class="addressdiv">
    <table class="table table-striped" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:0px;width:100%">
        <tbody>
        <tr>
			<th colspan="3" align="left"><img height="14px" src="{{jns_info.image}}" /> {{addressId}} <span class="pull-right"></span></th>
        </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>余额 (e, 能量)</td>
            <td>{{balance || "计算中..."}}</td>
        </tr>
        <tr>
            <td>余额 (J)</td>
            <td>{{balanceInEther || "计算中..."}}</td>
        </tr>
        <tr>
			<td><b>藏品和徽章：</b></td>
			<td>
				JTI: {{countJTI || "统计中..."}} 
				, 
				FlyingJ: {{countFlyingJ || "统计中..."}}
				, 
				JNS: {{countJNS || "统计中..."}}
				<span ng-style="{ 'display': chainId == '0xe52' && account == jnsContractOwner ? 'inline-block' : 'none' }">
					<button class="btn btn-secondary cb" ng-click="mint()">🔨</button>
				</span>
				,
				JNSVote: {{countJNSVote || "统计中..."}}
			</td>
        </tr>
		<tr data-ng-repeat="i1 in allFlyingJ">
		  <td>{{i1.tag}}</td>
		  <td><image height="64px" src="{{i1.tokenInfo.image}}"></image></td>
		</tr>
		<tr data-ng-repeat="i2 in allJTI">
		  <td>{{i2.tag}}</td>
		  <td><image height="24px" src="{{i2.tokenInfo.image}}" style="filter:invert(5%) sepia(75%) saturate(7378%) hue-rotate(45deg) brightness(114%) contrast(112%);"></image></td>
		</tr>
		<tr data-ng-if="countJNSVote > 0">
		  <td>JNS DAO Vote POPs</td>
		  <td><span data-ng-repeat="i3 in allJNSVote">
				  <a href="/#/jnsvote/"><image height="64px" style="margin:0 2px 2px 0" src="{{i3.tokenInfo.image}}"></image></a>
			  </span>
		  </td>
		</tr>
		<tr data-ng-repeat="i4 in allJNS">
		  <td>{{i4.tag}}</td>
		  <td><a href="/#/jns/{{i4.tokenInfo.description}}"><image height="20px" src="{{i4.tokenInfo.image}}"></image></a></td>
		</tr>
        </tbody>
    </table>
	<small>* 注：J（焦耳）是能量单位。定义 1 J = 1 Ee（E能量）= 10^9 Ge（G能量）= 10^18 e，即 1,000,000,000,000,000,000 e（能量）。</small>
</div>

</div>
