<div class="container" style="padding-top: 50px;">
	<h1>
		<span data-ng-if="jnsId !== undefined">
			<p><img height="32px" src="{{jns_info.image}}" /></p>
			{{jns_info.description}}
			<small>查看该数字身份DID的资料</small>
		</span>
		<span data-ng-if="jnsId === undefined">
			<p style="color:#050">{{ addressId.substr(0,6) + '...' + addressId.substr(-4) }}</p>
			链地址
			<small>查看链地址信息</small>
		</span>
		<!--span class="zoom" ng-style="{ 'display': balance == 0 ? 'inline-block' : 'none' }">
			<button ng-click="airdrop()">🎁</button>
		</span-->
	</h1>

<span style="color:#999"><p style="word-break:break-all;">{{airdrop_hexdata}}</p></span>
<span style="color:#a00"><p style="word-break:break-all;">{{airdrop_errmsg}}</p></span>

<div id="address-97785883" class="addressdiv">
    <table class="table table-striped" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:0px;width:100%">
        <tbody>
        <tr>
			<th colspan="3" align="left"><img height="14px" src="{{jns_info.image}}" /> {{addressId}} <span class="pull-right"></span></th>
        </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <tbody>
        <tr>
			<td><b>能量余额：</b></td>
			<td>{{balanceInEther || "-"}} Joule (焦耳)，即 {{balance || "-"}} energy (能量)</td>
        </tr>
        <tr>
			<td><b>数字资产：</b></td>
            <td></td>
        </tr>
        <tr>
            <td>Wrapped Joule</td>
            <td>{{wjBalanceInJoule || "-"}} wJ
				<span ng-style="{ 'display': chainId == '0xe52' && account.toLowerCase() == addressId.toLowerCase() ? 'inline-block' : 'none' }">
					<span ng-style="{ 'display': wjBalance > 0 ? 'inline-block':'none'}">
						<button ng-click="wjUnwrapDialog()"><font style="color:#0023ed">unwrap</font></button>
					</span>
				</span>
			</td>
        </tr>
        <tr>
			<td><b>藏品和徽章：</b></td>
			<td>
				JTI: {{countJTI || "-"}} 
				<span ng-style="{ 'display': chainId == '0xe52' && account.toLowerCase() == jtiContractOwner.toLowerCase() ? 'inline-block' : 'none' }">
					<button ng-click="star()">⭐️</button>
				</span>
				<span ng-style="{ 'display': countFlyingJ > 0 ? 'inline-block' : 'none' }">, FlyingJ: {{countFlyingJ}}</span>
				<span ng-style="{ 'display': countCryptoJunks > 0 ? 'inline-block' : 'none' }">, CryptoJunks: {{countCryptoJunks}}</span>
				<span ng-style="{ 'display': countJNS > 0 ? 'inline-block' : 'none' }">
					<span>, JNS: {{countJNS}}</span>
					<!--span ng-style="{ 'display': chainId == '0xe52' && account == jnsContractOwner ? 'inline-block' : 'none' }">
						<button ng-click="mint()">🔨</button>
						</span-->
						<span>, JNSVote POAP: {{countJNSVote || "-"}}</span>
						<span>
							, JNSDAO V: {{countJNSDAOV || "-"}}
							<span ng-style="{ 'display': chainId == '0xe52' && account.toLowerCase() == addressId.toLowerCase() ? 'inline-block' : 'none' }">
								<button ng-click="register()"><font style="color:#c647ba">npub</font></button>
							</span>
						</span>
				</span>
			</td>
        </tr>
		<tr data-ng-repeat="i5 in allJNSDAOV">
		  <td>{{i5.tag}}</td>
		  <td><img height="14px" src="{{jns_info.image}}" /> <image height="14px" src="{{i5.tokenInfo.image}}"></image> 
			  <div style="color:#aaa;font-size:small;word-break:break-all;">{{i5.tokenInfo.npubkey}}</div>
		  </td>
		</tr>
		<tr data-ng-repeat="i1 in allFlyingJ">
		  <td>{{i1.tag}}</td>
		  <td><image height="64px" src="{{i1.tokenInfo.image}}"></image></td>
		</tr>
		<tr data-ng-repeat="i2 in allJTI">
		  <td>{{i2.tag}}</td>
		  <td>
			  <image height="24px" src="{{i2.tokenInfo.image}}" style="filter:invert(5%) sepia(75%) saturate(7378%) hue-rotate(45deg) brightness(114%) contrast(112%);"></image>
			  <span ng-style="{ 'display': balance == 0 && account ? 'inline-block' : 'none' }">
				  <button ng-click="wjUnwrapToNewbie()"><font style="color:#ae4c4c">新手加油 0.005 J</font></button>
			  </span>
		  </td>
		</tr>
		<tr data-ng-if="countCryptoJunks > 0">
		  <td><a href="/#/cryptojunks">CryptoJunks</a></td>
		  <td><span data-ng-repeat="cj in allCryptoJunks">
				  <div style="float:left; margin-left:1px;">
					  <div id="frame{{cj.id}}" style="position:relative" data-ng-if="cj.tokenInfo != undefined" ng-style="{ 'background-color': cj.tokenInfo.golden == undefined ? '#638596' : cj.tokenInfo.golden == true ? '#638596' : '#95554f' }">
						  <div style="position:absolute;top:0;right:2px;">
							  <span data-ng-if="cj.tokenInfo.rarity == 'legend'">👑</span>
							  <span data-ng-if="cj.tokenInfo.rarity == 'rare'">💎</span>
							  <span data-ng-if="cj.tokenInfo.rarity == 'precious'">🌟</span>
						  </div>
						  <div><span style="display:inline-block;width:64px;height:64px;margin:0 2px 2px 0;"><image id="junk{{cj.id}}" alt="{{cj.tokenInfo.name}}" height="64px" style="image-rendering: pixelated;" src="{{cj.tokenInfo.image}}"></image></span></div>
					  </div>
					  <div data-ng-if="cj.tokenInfo == undefined" style="background-color: #638596;"><span style="display:inline-block;width:64px;height:64px;margin:0 2px 2px 0;">空</span></div>
					  <div style="text-align:center">
						  <span ng-style="{ 'background-color': cj.tokenInfo.golden == undefined ? 'default' : cj.tokenInfo.golden == true ? '#ffd700' : '#cccccc' }">
							  <a href="/#/cryptojunks/page/{{cj.pageId}}/id/{{cj.id}}">#{{cj.id}}</a>
						  </span>
					  </div>
				  </div>
			  </span>
		  </td>
		</tr>
		<tr data-ng-if="countJNSVote > 0">
		  <td>JNSVote POAP</td>
		  <td><span data-ng-repeat="i3 in allJNSVote">
				  <a href="/#/jnsvote/"><image height="64px" style="margin:0 2px 2px 0" src="{{i3.tokenInfo.image}}"></image></a>
			  </span>
		  </td>
		</tr>
		<tr data-ng-repeat="i4 in allJNS">
		  <td>{{i4.tag}}</td>
		  <td><a href="/#/jns/{{i4.tokenInfo.description}}"><image height="20px" src="{{i4.tokenInfo.image}}"></image></a></td>
		</tr>
        </tbody>
    </table>
	<small>* 注：J, Joule（焦耳）是能量单位。定义 1 J = 1 Ee（E能量）= 10^9 Ge（G能量）= 10^18 e，即 1,000,000,000,000,000,000 energy（能量）。</small>
</div>

  <!-- dialog for input to unwrap wJoule -->
    <div id="dialog-unwrap-wjoule" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <center><div class="modal-header">
						<h4 class="modal-title"><span id="">Unwrap wJ</span></h4>
                </div></center>
                <div class="modal-body">
					<code>
						<div style="word-break:break-all;" id="">
							<div>
								<div>释放wJ (wrapped Joule)中的能量(1 wJ = 1 J)到某一地址作为gas使用。</div>
								<div>需输入：</div>
								<div>1. 要释放的Joule量：<input type="text" id="wj-unwrap-amount"></input> J</div>
							</div>
							<div style="margin-top:5px;">
								<div>2. 接收能量的链地址（留空则默认为当前地址）：</div>
								<div><input style="width:100%" type="text" id="wj-unwrap-to"></input></div>
							</div>
							<div style="float:right;margin-top:10px;">
								<input type="checkbox" checked id="wj-unwrap-save-info"><font color="black">点击确定后不清空输入框</font></input>
							</div>
							<div style="display:none">
								<!-- hidden. used for not checking WJ balance (of this address) when 新手加油-->
								<input type="checkbox" checked id="wj-unwrap-check-balance"></input>
							</div>
						</div>
					</code>
                </div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="wjUnwrapToConfirm()">确定</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
				</div>
            </div>
        </div>
    </div>
  <!-- end of dialog for input to unwrap wJoule -->

  <!-- dialog for double checking & confirming to unwrap wJoule -->
    <div id="dialog-unwrap-wjoule-confirm" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <center><div class="modal-header">
						<h4 class="modal-title"><span id="">Unwrap wJ, 再次确认</span></h4>
                </div></center>
                <div class="modal-body">
					<code style="color:#0000ff">
						<div style="word-break:break-all;" id="">
							将从地址：<span id="confirm-unwrap-wj-from"></span>
							减少：<span id="confirm-unwrap-wj-amount"></span> wJ
							并将其中的能量：<span id="confirm-unwrap-wj-amount2"></span> J
							释放到地址：<span id="confirm-unwrap-wj-to"></span>
							作为gas使用。
						</div>
						<div style="color:#ff0000;font-weight:bold;margin:5px 0 5px 0">
							警告：WJ释放为J的过程不可逆，释放的J不能移动、不能恢复，只能作为gas使用。
						</div>
						<div style="float:right;">确定吗？</div>
					</code>
                </div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="wjUnwrapTo()">确定</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
				</div>
            </div>
        </div>
    </div>
  <!-- end of dialog for double checking & confirming to unwrap wJoule -->

</div>
