<div class="container" style="padding-top: 50px;">
	<h1>
		<span data-ng-if="jnsId !== undefined">
			<img height="32px" src="{{jns_info.image}}" />
			<!--span ng-style="{ 'display': countPlanet > 0 ? 'inline-block' : 'none' }">
				<small>from</small>
				<image height="20px" src="{{allPlanet[0].tokenInfo.image}}"></image>
			</span-->
			<p>{{jns_info.description}}
			<small>查看该DID数字身份的资料</small>
			</p>
		</span>
		<span data-ng-if="jnsId === undefined">
			<span style="color:#050">{{ 'j3...' + checksumTail }}</span>
			<p>链地址
			<small>查看焦耳宇宙坐标信息</small>
			</p>
		</span>
		<!--span class="zoom" ng-style="{ 'display': balance == 0 ? 'inline-block' : 'none' }">
			<button ng-click="airdrop()">🎁</button>
		</span-->
	</h1>

<span style="color:#999"><p style="word-break:break-all;">{{airdrop_hexdata}}</p></span>
<span style="color:#a00"><p style="word-break:break-all;">{{airdrop_errmsg}}</p></span>

<div id="address-97785883" class="addressdiv">
    <table class="table table-striped" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:0px;width:100%">
        <tbody>
        <tr>
			<th colspan="3" align="left">
				<div>JVA: <span style="color:var(--primary-dark-color)">{{ profileAddress }}</span></div>
				<div>B32: <span style="color:var(--info-color)">{{ profileAddressB32 }}</span></div>
				<div>HEX: <span style="color:#050">{{ addressId }}</span></div>
				<div ng-style="{ 'display': jns_info !== undefined || allJVCore.length > 0 ? 'inline-block' : 'none' }">DID:
					<span data-ng-if="jns_info !== undefined">
						<a href="/#/did/{{jns_info.description}}"><img height="14px" src="{{jns_info.image}}" /></a>
					</span>
					<!--span ng-style="{ 'display': countJTI2 > 0 ? 'inline-block' : 'none' }">
						<image height="16px" style="margin-top:-3px" src="{{allJTI2[0].tokenInfo.image}}"></image>
					</span-->
					<span data-ng-if="allJVCore.length > 0">
						<image height="16px" src="{{allJVCore[0].tokenInfo.image}}"></image>
						<span style="font-size:small">🆔J{{allJVCore[0].id}}</span>
					</span>
					<span class="pull-right"></span>
				</div>
			</th>
        </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <tbody>
        <tr>
			<td><b>能量余额：</b></td>
			<td>
				{{balanceInEther || "-"}} Joule (焦耳)，即 {{balance || "-"}} wei (维)

				<span ng-style="{ 'display': allJTI2.length > 0 && balance == 0 && account ? 'inline-block' : 'none' }">
					<button ng-click="wjUnwrapToNewbie()"><font style="color:#ae4c4c">新手加油 0.005 J</font></button>
				</span>
			</td>
        </tr>
        <tr>
			<td><b>数字资产：</b></td>
            <td></td>
        </tr>
        <tr>
            <td>Wrapped Joule</td>
            <td>{{wjBalanceInJoule || "-"}} wJ
				<span ng-style="{ 'display': chainId == '0xe52' && account.toLowerCase() == addressId.toLowerCase() ? 'inline-block' : 'none' }">
					<span ng-style="{ 'display': wjBalance > 0 ? 'inline-block':'none'}">
						<button ng-click="wjUnwrapDialog()"><font style="color:#ed2300">unwrap</font></button>
						<button ng-click="wjSendDialog()"><font style="color:#0023ed">send</font></button>
					</span>
				</span>
			</td>
        </tr>
        <tr>
			<td><b>藏品和徽章：</b></td>
			<td>
				Planet: {{countPlanet || "-"}}
				, JTI(v2): {{countJTI2 || "-"}} 
				<!--, JTI: {{countJTI || "-"}} 
				<span ng-style="{ 'display': chainId == '0xe52' && account.toLowerCase() == jtiContractOwner.toLowerCase() ? 'inline-block' : 'none' }">
					<button ng-click="star()">⭐️</button>
				</span>
				-->
				<span ng-style="{ 'display': countFlyingJ > 0 ? 'inline-block' : 'none' }">, FlyingJ: {{countFlyingJ}}</span>
				<span ng-style="{ 'display': countCryptoJunks > 0 ? 'inline-block' : 'none' }">, CryptoJunks: {{countCryptoJunks}}</span>
				<span ng-style="{ 'display': countJNS > 0 ? 'inline-block' : 'none' }">
					<span>, JNS: {{countJNS}}</span>
					<!--span ng-style="{ 'display': chainId == '0xe52' && account == jnsContractOwner ? 'inline-block' : 'none' }">
						<button ng-click="mint()">🔨</button>
						</span-->
						<span>, JNSVote POAP: {{countJNSVote || "-"}}</span>
						<span>
							, JNSDAO V: {{countJNSDAOV || "-"}}
							<span ng-style="{ 'display': chainId == '0xe52' && account.toLowerCase() == addressId.toLowerCase() ? 'inline-block' : 'none' }">
								<button ng-click="register()"><font style="color:#c647ba">npub</font></button>
							</span>
						</span>
				</span>
			</td>
        </tr>

		<tr data-ng-repeat="jvcore in allJVCore">
		  <td>Core ID: #{{jvcore.id}}</td>
		  <td><image height="20px" src="{{jvcore.tokenInfo.image}}"></image></td>
		</tr>
		<tr data-ng-if="countPOP > 0">
		    <td>Core链上签到</td>
			<td><span data-ng-repeat="pop in allPOP">
					<div style="float:left; margin-left:10px;" ng-style="{ 'background-color': pop.is_valid ? 'initial':'gray'}">
						<div><span style="display:inline-block;"><image id="pop{{pop.id}}" alt="{{pop.tokenInfo.name}}" height="20px" src="{{pop.tokenInfo.image}}"></image></span></div>
						<div style="font-size:8px;text-align:center;color:#999">{{pop.month}}</div>
					</div>
				</span>
			</td>
		</tr>

		<tr data-ng-repeat="i6 in allPlanet">
		  <td>{{i6.tag}}</td>
		  <td><image height="20px" src="{{i6.tokenInfo.image}}"></image></td>
		</tr>
		<tr data-ng-repeat="i7 in allJTI2">
		  <td>{{i7.tag}}</td>
		  <td>
			  <image height="16px" style="margin-top:-3px" src="{{i7.tokenInfo.image}}"></image> <font color="gray">(<small>已认证, 编号: {{i7.tokenInfo.id}}, 日期: {{toLocaleDateString(i7.tokenInfo.sinceTimestamp)}}</small>)</font>
		  </td>
		</tr>

		<!--tr data-ng-repeat="i2 in allJTI">
		  <td>{{i2.tag}}</td>
		  <td>
			  <image height="24px" src="{{i2.tokenInfo.image}}" style="filter:invert(5%) sepia(75%) saturate(7378%) hue-rotate(45deg) brightness(114%) contrast(112%);"></image>
			  <span ng-style="{ 'display': balance == 0 && account ? 'inline-block' : 'none' }">
				  <button ng-click="wjUnwrapToNewbie()"><font style="color:#ae4c4c">新手加油 0.005 J</font></button>
			  </span>
		  </td>
		</tr-->

		<tr data-ng-repeat="i1 in allFlyingJ">
		  <td>{{i1.tag}}</td>
		  <td><image height="64px" src="{{i1.tokenInfo.image}}"></image></td>
		</tr>
		<tr data-ng-repeat="i5 in allJNSDAOV">
		  <td>{{i5.tag}}</td>
		  <td><img height="14px" src="{{jns_info.image}}" /> <image height="14px" src="{{i5.tokenInfo.image}}"></image> 
			  <div style="color:#aaa;font-size:small;word-break:break-all;">{{i5.tokenInfo.npubkey}}</div>
		  </td>
		</tr>

		<tr data-ng-if="countCryptoJunks > 0">
		  <td><a href="/#/cryptojunks">CryptoJunks</a></td>
		  <td><span data-ng-repeat="cj in allCryptoJunks">
				  <div style="float:left; margin-left:1px;">
					  <div id="frame{{cj.id}}" style="position:relative" data-ng-if="cj.tokenInfo != undefined" ng-style="{ 'background-color': cj.tokenInfo.golden == undefined ? '#638596' : cj.tokenInfo.golden == true ? '#638596' : '#95554f' }">
						  <div style="position:absolute;top:0;right:2px;">
							  <span data-ng-if="cj.tokenInfo.rarity == 'legend'">👑</span>
							  <span data-ng-if="cj.tokenInfo.rarity == 'rare'">💎</span>
							  <span data-ng-if="cj.tokenInfo.rarity == 'precious'">🌟</span>
						  </div>
						  <div><span style="display:inline-block;width:64px;height:64px;margin:0 2px 2px 0;"><image id="junk{{cj.id}}" alt="{{cj.tokenInfo.name}}" height="64px" style="image-rendering: pixelated;" src="{{cj.tokenInfo.image}}"></image></span></div>
					  </div>
					  <div data-ng-if="cj.tokenInfo == undefined" style="background-color: #638596;"><span style="display:inline-block;width:64px;height:64px;margin:0 2px 2px 0;">空</span></div>
					  <div style="text-align:center">
						  <span ng-style="{ 'background-color': cj.tokenInfo.golden == undefined ? 'default' : cj.tokenInfo.golden == true ? '#ffd700' : '#cccccc' }">
							  <a href="/#/cryptojunks/page/{{cj.pageId}}/id/{{cj.id}}">#{{cj.id}}</a>
						  </span>
					  </div>
				  </div>
			  </span>
		  </td>
		</tr>
		<tr data-ng-if="countJNSVote > 0">
		  <td>JNSVote POAP</td>
		  <td><span data-ng-repeat="i3 in allJNSVote">
				  <a href="/#/jnsvote/"><image height="64px" style="margin:0 2px 2px 0" src="{{i3.tokenInfo.image}}"></image></a>
			  </span>
		  </td>
		</tr>
		<!--tr data-ng-repeat="i4 in allJNS">
		  <td>{{i4.tag}}</td>
		  <td><a href="/#/jns/{{i4.tokenInfo.description}}"><image height="20px" src="{{i4.tokenInfo.image}}"></image></a></td>
		</tr-->
		<tr data-ng-if="countJNS > 0">
			<td><a href="https://jnsdao.com">JNS</a></td>
			<td><span data-ng-repeat="jns in allJNS">
					<div style="float:left; margin-left:10px;">
						<div><span style="display:inline-block;"><a href="/#/jns/{{jns.tokenInfo.description}}"><image id="jns{{jns.id}}" alt="{{jns.tokenInfo.name}}" height="20px" src="{{jns.tokenInfo.image}}"></image></a></span></div>
						<div style="text-align:center;color:#999">#{{jns.id}}</div>
					</div>
				</span>
			</td>
		</tr>
        </tbody>
    </table>
	<small>* 注：J, Joule (焦耳)和 wei (维)是能量单位。定义 1 J = 1 Ewei（艾维, exa-wei）= 10^9 Gwei（吉维, giga-wei）= 10^18 wei，即 1,000,000,000,000,000,000 wei (维)。</small>
</div>

  <!-- dialog for input to unwrap wJoule -->
    <div id="dialog-unwrap-wjoule" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <center><div class="modal-header">
						<h4 class="modal-title"><span id="">Unwrap wJ</span></h4>
                </div></center>
                <div class="modal-body">
					<code>
						<div style="word-break:break-all;" id="">
							<div>
								<div>释放wJ (wrapped Joule)中的能量(1 wJ = 1 J)到某一地址作为gas使用。</div>
								<div>需输入：</div>
								<div>1. 要释放的Joule量：<input type="text" id="wj-unwrap-amount"></input> J</div>
							</div>
							<div style="margin-top:5px;">
								<div>2. 接收能量的链地址（留空则默认为当前地址）：</div>
								<div><input style="width:100%" type="text" id="wj-unwrap-to"></input></div>
							</div>
							<div style="float:right;margin-top:10px;">
								<input type="checkbox" checked id="wj-unwrap-save-info"><font color="black">点击确定后不清空输入框</font></input>
							</div>
							<div style="display:none">
								<!-- hidden. used for not checking WJ balance (of this address) when 新手加油-->
								<input type="checkbox" checked id="wj-unwrap-check-balance"></input>
							</div>
						</div>
					</code>
                </div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="wjUnwrapToConfirm()">确定</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
				</div>
            </div>
        </div>
    </div>
  <!-- end of dialog for input to unwrap wJoule -->

  <!-- dialog for double checking & confirming to unwrap wJoule -->
    <div id="dialog-unwrap-wjoule-confirm" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <center><div class="modal-header">
						<h4 class="modal-title"><span id="">Unwrap wJ, 再次确认</span></h4>
                </div></center>
                <div class="modal-body">
					<code style="color:#0000ff">
						<div style="word-break:break-all;" id="">
							将从地址：<span id="confirm-unwrap-wj-from"></span>
							减少：<span id="confirm-unwrap-wj-amount"></span> wJ
							并将其中的能量：<span id="confirm-unwrap-wj-amount2"></span> J
							释放到地址：<span id="confirm-unwrap-wj-to"></span>
							作为gas使用。
						</div>
						<div style="color:#ff0000;font-weight:bold;margin:5px 0 5px 0">
							警告：WJ释放为J的过程不可逆，释放的J不能移动、不能恢复，只能作为gas使用。
						</div>
						<div style="float:right;">确定吗？</div>
					</code>
                </div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="wjUnwrapTo()">确定</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
				</div>
            </div>
        </div>
    </div>
  <!-- end of dialog for double checking & confirming to unwrap wJoule -->

  <!-- dialog for input to send wJoule -->
    <div id="dialog-send-wjoule" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <center><div class="modal-header">
                        <h4 class="modal-title"><span id="">发送 wJ</span></h4>
                </div></center>
                <div class="modal-body">
                    <code>
                        <div style="word-break:break-all;" id="">
                            <div>
                                <div>发送wJ (wrapped Joule)到指定地址。</div>
                                <div>需输入：</div>
                                <div>1. 发送数量：<input type="text" id="wj-send-amount"></input> wJ (不超过2000 wJ)</div>
                            </div>
                            <div style="margin-top:5px;">
                                <div>2. 接收地址（支持JNS域名）：</div>
                                <div><input style="width:100%" type="text" id="wj-send-to"></input></div>
                            </div>
                        </div>
                    </code>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="wjSendToConfirm()">确定</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
  <!-- end of dialog for input to send wJoule -->

  <!-- dialog for double checking & confirming to send wJoule -->
    <div id="dialog-send-wjoule-confirm" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <center><div class="modal-header">
                        <h4 class="modal-title"><span id="">发送 wJ, 再次确认</span></h4>
                </div></center>
                <div class="modal-body">
                    <code style="color:#0000ff">
                        <div style="word-break:break-all;" id="">
                            将从地址：<span id="confirm-send-wj-from"></span>
                            发送：<span id="confirm-send-wj-amount"></span> wJ
                            到地址：<span id="confirm-send-wj-to"></span>
                        </div>
                        <div style="float:right;">确定吗？</div>
                    </code>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="wjSendTo()">确定</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
  <!-- end of dialog for double checking & confirming to send wJoule -->

</div>
