<link rel="stylesheet" href="../styles/block-tx-optimized.css">
<div class="container" style="padding-top: 30px;">

    <div class="row">
        <div class="col-md-12">
            <h1 style="margin-bottom: 20px;">
                <span class="glyphicon glyphicon-th-large"></span> 区块 
                <small>查看区块信息</small>
            </h1>
        </div>
    </div>

    <!-- Block Summary Card -->
    <div class="row">
        <div class="col-md-12">
            <div class="card table-card">
                <div class="card-header">
                    <h5 style="margin: 0;"><span class="glyphicon glyphicon-info-sign"></span> 区块概要</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td style="width: 30%;"><strong>区块哈希</strong></td>
                                <td><a class="hash-link" href="./#/block/{{blockId}}">{{hash}}</a></td>
                            </tr>
                            <tr>
                                <td><strong>区块高度</strong></td>
                                <td><a href="./#/block/{{blockNumber}}">{{number}}</a></td>
                            </tr>
                            <tr>
                                <td><strong>上一区块</strong></td>
                                <td>
                                    <a href="./#/block/{{number-1}}">{{parentHash}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>时间戳</strong></td>
                                <td>
                                    {{timestamp}}，即 {{timestamp_localestring}}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>难度</strong></td>
                                <td>
                                    {{difficulty}}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>尺寸</strong></td>
                                <td>{{size}} 字节</td>
                            </tr>
                            <tr>
                                <td><strong>Gas上限</strong></td>
                                <td>{{gasLimit}} 单位</td>
                            </tr>
                            <tr>
                                <td><strong>确认数</strong></td>
                                <td><button class="btn btn-success btn-sm">{{conf}}</button></td>
                            </tr>
                            <tr>
                                <td><strong>Gas消耗量</strong></td>
                                <td><button class="btn btn-info btn-sm">{{gasUsed}} Gas单位</button></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;"><strong>附加数据</strong></td>
                                <td><p style="word-break:break-all; margin-bottom: 0;">{{extraData}}</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End Block Summary Card -->

    <!-- Transactions List Card -->
    <div class="row">
        <div class="col-md-12">
            <div class="card table-card">
                <div class="card-header">
                    <h5 style="margin: 0;"><span class="glyphicon glyphicon-transfer"></span> 区块内包含的交易</h5>
                </div>
                <div class="card-body" style="padding: 0;">
                    <div ng-repeat="tx in transactions" style="border-bottom: 1px solid var(--border-color);">
                        <div style="padding: 15px 20px;">
                            <div style="margin-bottom: 10px;"><strong>交易 #{{$index+1}}</strong> <a class="hash-link pull-right" href="./#/tx/{{tx.hash}}">{{tx.hash}}</a></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p style="margin-bottom: 5px;"><span class="glyphicon glyphicon-arrow-right text-success"></span> <strong>从:</strong> <a href="./#/address/{{tx.from}}">{{address2tag(tx.from)}}</a></p>
                                    <p style="margin-bottom: 0;"><span class="glyphicon glyphicon-arrow-left text-danger"></span> <strong>至:</strong> <a href="./#/address/{{tx.to}}">{{address2tag(tx.to)}}</a></p>
                                </div>
                                <div class="col-md-6">
                                    <p style="margin-bottom: 5px;"><strong>Gas消耗量:</strong> {{tx.gas}} 单位</p>
                                    <p style="margin-bottom: 0;"><strong>发送价值:</strong> {{tx.valueJ}} J ({{tx.value}} e)</p>
                                </div>
                            </div>
                            <div class="row" ng-if="tx.input && tx.input !== '0x'">
                                <div class="col-md-12">
                                    <p style="margin-bottom: 0;"><strong>输入数据:</strong></p>
                                    <p style="word-break:break-all; margin-bottom: 0; font-family: monospace; font-size: 0.9em; background-color: #f8f9fa; padding: 5px; border-radius: 4px;">{{tx.input}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!transactions || transactions.length === 0" style="padding: 15px 20px; text-align: center; color: var(--text-secondary-color);">
                        该区块内没有交易。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Transactions List Card -->

</div>