<div class="container" style="padding-top: 50px;">

    <h1>JNSDAO Govenance Vote
        <small>参与JNSDAO治理投票</small>
    </h1>

    <div id="jnsvote-97785883" class="jnsvotediv">
        <table class="table table-striped">
            <tbody>
            <tr>
				<th colspan="2" style="text-align:left">提案总数：{{countProposals}}</th>
            </tr>
			<tr data-ng-if="countJNSVote > 0">
				<td>JNSVote POAP <br/> 我的治理徽章</td>
				<td>
					<span data-ng-repeat="i3 in allJNSVote">
						<a href="/#/jnsvote/"><image height="64px" style="margin:0 2px 2px 0" src="{{i3.tokenInfo.image}}"></image></a>
					</span>
				</td>
			</tr>
            </tbody>
        </table>
		<span>&nbsp;</span>
		<div data-ng-repeat="i in allProposals">
			<table class="table table-striped" data-ng-if="i.disabled == false">
				<tbody>
					<tr>
						<th colspan="2" style="text-align:left">提案 #{{i.id}}</th>
					</tr>
					<tr>
						<td>标题</td>
						<td>{{i.title}}</td>
					</tr>
					<tr>
						<td>内容链接</td>
						<td><a target="_blank" href="{{i.link}}">{{i.cid}}</a></td>
					</tr>
					<tr>
						<td nowrap>开始时间(区块高度)</td>
						<td>{{i.timeBegin}}</td>
					</tr>
					<tr>
						<td>结束时间(区块高度)</td>
						<td>{{i.timeEnd}}</td>
					</tr>
					<tr>
						<td>赞成票数</td>
						<td>{{i.countVotesFor}}</td>
					</tr>
					<tr>
						<td>反对票数</td>
						<td>{{i.countVotesAgainst}}</td>
					</tr>
					<tr>
						<td>代表JNS持仓量</td>
						<td>{{i.countJNSvoted}}</td>
					</tr>
					<tr>
						<td nowrap>其中赞成票代表JNS持仓量</td>
						<td>{{i.countJNSvotedFor}}</td>
					</tr>
					<tr>
						<td>JNS总量(快照)</td>
						<td>{{i.totalJNS}}</td>
					</tr>
					<tr>
						<td>投票</td>
						<td>
							<span style="color:#999"><p style="word-break:break-all;">{{hexdata}}</p></span>
							<input type="button" value="赞成" class="btn btn-success" ng-click="voteFor(i.id)"></input>
							<button class="btn btn-secondary" ng-click="voteAgainst(i.id)">反对</button>
							<span style="color:#a00"><p style="word-break:break-all;">{{errmsg}}</p></span>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
    </div>

</div>
