<div class="container" style="padding-top: 50px;">

    <h1>JNSDAO Govenance Vote
        <small>参与JNSDAO治理投票</small>
    </h1>

    <div id="jnsvote-97785883" class="jnsvotediv">
        <table class="table table-striped">
            <tbody>
            <tr>
				<th colspan="2" style="text-align:left">提案总数：{{countProposals}}</th>
            </tr>
            <tr>
				<td>当前已连接账户</td>
				<td>
					<span ng-show='account'>
						<a href='/#/address/{{account}}'>
							<img height="14px" src="{{jns_info.image}}" /> {{ account }}
						</a>
					</span>
					<span ng-hide='account'>未连接账户，请点击菜单栏右侧“连接账户”进行连接</span>
				</td>
            </tr>
			<tr>
				<td>JNSVote POAP徽章</td>
				<td data-ng-if="countJNSVote == 0">没有治理徽章</td>
				<td data-ng-if="countJNSVote > 0">
					<div >我是JNSDAO成员，参与过 {{countJNSVote}} 次投票治理，收集了 {{countJNSVote}} 枚治理徽章：</div>
					<span data-ng-repeat="i3 in allJNSVote">
						<a href="/#/jnsvote/"><image height="64px" style="margin:0 2px 2px 0" src="{{i3.tokenInfo.image}}"></image></a>
					</span>
				</td>
			</tr>
			<tr>
				<td>投票资格要求</td>
				<td>
					<div>{{ countJTI && countJTI > 0 ? '✅':'❌' }} JTI认证</div>
					<div>{{ countJNS && countJNS > 0 ? '✅':'❌' }} JNS持仓 &gt; 0 （当前账户代表的JNS持仓量为：{{ countJNS ? countJNS : 0 }}）</div>
				</td>
			</tr>
			</tbody>
        </table>
		<span>&nbsp;</span>
		<div data-ng-repeat="i in allProposals">
			<table class="table table-striped" data-ng-if="i.disabled == false">
				<tbody>
					<tr>
						<th colspan="2" style="text-align:left">提案 #{{i.id}}</th>
					</tr>
					<tr>
						<td>标题</td>
						<td>{{i.title}}</td>
					</tr>
					<tr>
						<td>内容链接</td>
						<td><a target="_blank" href="{{i.link}}">{{i.cid}}</a></td>
					</tr>
					<tr>
						<td nowrap>开始时间(区块高度)</td>
						<td>{{i.timeBegin}} <span data-ng-if="i.countdown1">（距投票开始还有{{i.countdown1}}）</span></td>
					</tr>
					<tr>
						<td>结束时间(区块高度)</td>
						<td>{{i.timeEnd}} <span data-ng-if="i.countdown2">（距投票结束还有{{i.countdown2}}）</span></td>
					</tr>
					<tr>
						<td>投票进度</td>
						<td><b>{{i.progress}}</b></td>
					</tr>
					<tr data-ng-if="i.progress == '已结束' && decision != 0">
						<td>投票结果</td>
						<td>{{ i.decision == 1 ? '✅ 通过' : '❌ 未通过' }}</td>
					</tr>
					<tr>
						<td>赞成票数</td>
						<td>{{i.countVotesFor}}</td>
					</tr>
					<tr>
						<td>反对票数</td>
						<td>{{i.countVotesAgainst}}</td>
					</tr>
					<tr>
						<td>代表JNS持仓量</td>
						<td>{{i.countJNSvoted}}</td>
					</tr>
					<tr>
						<td nowrap>其中赞成票代表JNS持仓量</td>
						<td>{{i.countJNSvotedFor}}</td>
					</tr>
					<tr>
						<td>JNS总量(快照)</td>
						<td>{{i.totalJNS}}</td>
					</tr>
					<tr data-ng-if="i.progress == '进行中'">
						<td>投票</td>
						<td>
							<span style="color:#999"><p style="word-break:break-all;">{{hexdata}}</p></span>
							<div id="voteButtons">
								<input type="button" value="赞成" class="btn btn-success" ng-click="voteFor(i.id)"></input>
								<button class="btn btn-secondary" ng-click="voteAgainst(i.id)">反对</button>
							</div>
							<span style="color:#a00"><p style="word-break:break-all;">{{errmsg}}</p></span>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
    </div>

</div>
