<div class="container" style="padding-top: 50px;">

	<!--h1 style="text-align:center;">Welcome to the Etherparty Block Explorer!</h1-->

	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="card stat-card text-center">
				<p class="card-title">区块链实时状态</p>
				<h3 class="card-value">{{status || "检测中..."}}</h3>
			 	<p class="card-subtitle">最新区块: <a href="/#/block/{{blockNum}}">{{blockNum || "读取中..."}}</a></p>
				<p class="card-subtitle">&nbsp;</p> <!-- To keep alignment -->
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="card stat-card text-center">
				<p class="card-title">稳定运行时间</p>
				<h3 class="card-value">{{updays || "计算中..."}}</h3>
				<p class="card-subtitle">since <a href="/#/block/0">block 0</a></p> <!-- To keep alignment -->
				<p class="card-subtitle">&nbsp;</p> <!-- To keep alignment -->
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="card stat-card text-center">
				<p class="card-title">Free Energy</p>
				<h3 class="card-value">{{energy.free || "读取中..."}} J</h3>
				<p class="card-subtitle">total energy: {{energy.total || "读取中..."}} J</p>
				<p class="card-subtitle">&nbsp;</p> <!-- To keep alignment -->
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="card stat-card text-center">
				<p class="card-title">Reserved Energy</p>
				<h3 class="card-value">{{energy.reserved || "读取中..."}} J</h3>
				<p class="card-subtitle">{{energy.reserved_core || "读取中..."}} J (core)</p>
				<p class="card-subtitle">{{energy.reserved_eco || "读取中..."}} J (ecosystem)</p>
			</div>
		</div>
	</div>

	<div class="card table-card">
		<div class="card-header">
			<h5>最新区块</h5>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Block</th>
						<th>Txn</th>
						<th>Size (bytes)</th>
						<th>Timestamp</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="i in blocks">
						<td><a href="/#/block/{{i.number}}">{{i.number}}</a></td>
						<td>{{i.transactions.length}}</td>
						<td>{{i.size}}</td>
						<td>{{i.time_localestring}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="card network-card">
		<div><h5>👇👇👇没有找到区块链网络？👇👇👇</h5></div>
		<div><input type="button" class="btn btn-secondary" onclick="switchNetwork()" value="点此一键添加Jouleverse区块链主网"></input></div>
	</div>
</div>
