<div class="container" style="padding-top: 50px;">

	<!--h1 style="text-align:center;">Welcome to the Etherparty Block Explorer!</h1-->

	<div class="card status-card">
		<h4>
			<p>区块链状态：{{status || "检测中..."}}</p>
			<p><a href="/#/block/{{blockNum}}">最新区块高度: {{blockNum || "读取中..."}}</a></p>
		</h4>
	</div>

	<div class="card table-card">
		<table class="table table-striped" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<th>区块 #</th>
					<th>交易 #</th>
					<th>尺寸(字节数)</th>
					<th>时间戳</th>
				</tr>
				<tr data-ng-repeat="i in blocks">
					<td><a href="/#/block/{{i.number}}">{{i.number}}</a></td>
					<td>{{i.transactions.length}}</td>
					<td>{{i.size}}</td>
					<td>{{i.timestamp}} ({{i.time_localestring}})</td>
				</tr>

			</tbody>
		</table>
	</div>

	<div class="card network-card">
		<div><h5>👇👇👇没有找到区块链网络？👇👇👇</h5></div>
		<div><input type="button" class="btn btn-primary" onclick="switchNetwork()" value="点此一键添加Jouleverse区块链主网"></input></div>
	</div>
</div>

